<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8" fileName="${basedir}/logs/${level}/${logger}/${shortdate}.log" maxArchiveFiles="100" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <!--fileName值——表示在程序运行目录，分日志级别按天写入日志文件-->
    <!--maxArchiveFiles值——日志文件最大数量，超出则删除最早的文件-->
    <!--layout值——日志内容格式：时间+日志级别+LoggerName+日志内容-->　　
  </targets>
  <rules>
    <!--支持将任意级别、任意LoggerName的日志写入target：defaultlog-->
    <!--其中*就表示任意，可以改为"项目命名空间.*"，则只输出对应命名空间下的日志。在Info级别尤为明显-->
    <logger name="*" minlevel="trace" writeTo="defaultlog" />
  </rules>
</nlog>